# macOS system files
.DS_Store

# Flutter related
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.generated/
fvm/

# Android
**/android/.gradle/
**/android/captures/
**/android/local.properties
**/android/key.properties
**/android/app/google-services.json
*.keystore
*.jks

# iOS
**/ios/Flutter/.last_build_id
**/ios/Flutter/ephemeral/
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Pods/
**/ios/Podfile.lock

# macOS
**/macos/Flutter/ephemeral/
**/macos/Pods/
**/macos/Podfile.lock

# Windows
**/windows/flutter/ephemeral/

# Linux
**/linux/flutter/ephemeral/

# Web
**/web/.dart_tool/

# IDEs
.idea/
*.iml
.vscode/

# Other
*.lock
